<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">


<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GAMINGDB</title>

<link rel="stylesheet" type="text/css" href="/css/home.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/js/home.js"></script>



</head>


<body>

<!-- Categories nav. -->

<div id="CategNav" class="overlay">
	<!-- Button to close the overlay navigation -->
	<a href="javascript:void(0)" class="closeButton" onclick="closeNav()">&times;</a>
	<div class="overlay-content">
		<a href="actionPage">Action</a>
		<a href="#">Sport</a>
		<a href="#">Strategy</a>
		<a href="#">Simulation</a>
		<a href="#">Racing</a>
		<a href="#">Adventure</a>
		<a href="#">Online</a>
	</div>
</div>

<!-- Header -->
<!-- A navigacios sav: -->

<div class="Header">
			
	<div>
		<a href="homePage" id="homePage"><button id="home_button">GAMINGDb</button></a>
	</div>
			
	<div>
		<!--<span style="font-size:30px;cursor:pointer" onclick="openNav()">Categories</span>-->
		<span onclick="openNav()">Categories</span>
	</div>

	<div>
		<form class="searchBar" action="homePage.html">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>

	<div class="logIn_button">
		<a href=login><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
		</a>
	</div>
</div>

<!-- A login szerkezete: -->
<!-- 
<div id="id01" class="modal">
  
	<form class="modal-content animate" action="homePage.html" method="post">
		<div class="imgcontainer">
			<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
			<img src="/img/avatar2.png" alt="Avatar" class="avatar">
		</div>
		  
		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname">
		  
			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw">
				  
			<button type="submit">Login</button>
			
			<input type="checkbox" id="check" checked="checked" name="remember">
			<label for="check">Remember me</label>
			
		</div>
		
		 
		<div class="container" style="background-color:#f1f1f1">
			<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
			<button type="button" onclick="location.href='registerPage.html'" class="regbtn">Register</button>
			<span class="psw"><a href="forgotPasswd.html">Forgot password?</a></span>
		</div>
	</form>
</div>
-->

	
    <!-- Content -->
	
    <div class="content">
        <div id="c1" class="culum1">
            <h1>Recomended</h1>
        	<hr style="width:80%;margin-left:10%;height:1px;border-width:0;background-color:#f141418a">
        	
        	<table>
        	
        	<tr>
    			
    			<th><h3>FIFA 21</h3><img src="/img/fifa21.jpg" width="140" height="180"></th>
    			<th>
    			<hr style="width:80%;margin-left:10%;height:1px;border-width:0;background-color:#f141418a">
    			<p>FIFA 21 is a football simulation video game published by Electronic Arts as part of the FIFA series.[1] It is the 28th installment in the FIFA series, and was released 9 October 2020 for Microsoft Windows, Nintendo Switch, PlayStation 4 and Xbox One. Enhanced versions for the PlayStation 5 and Xbox Series X and Series S were released on 3 December 2020, in addition to a version for Stadia.</p></th>
  				<th>
  				<iframe width="320" height="180" frameborder="0" allowfullscreen="allowfullscreen"
				src="https://www.youtube.com/embed/Jmliox1trPQ?start=0"></iframe>
				</th>
  			</tr>
  			
  			<tr>
    			<th><h3>Call of Duty: Warzone</h3><img src="/img/CODWarzone.jpg" width="140" height="180"></th>
    			<th>
    			<hr style="width:80%;margin-left:10%;height:1px;border-width:0;background-color:#f141418a">
    			<p>Call of Duty: Warzone is a free-to-play battle royale video game released on March 10, 2020, for PlayStation 4, Xbox One, and Microsoft Windows. The game is a part of the 2019 title Call of Duty: Modern Warfare but does not require purchase of it and is introduced during Season 2 of Modern Warfare content.</p></th>
    			<th>
    			<iframe width="320" height="180" frameborder="0" allowfullscreen="allowfullscreen"
				src="https://www.youtube.com/embed/0E44DClsX5Q"></iframe>
    			</th>	
  			</tr>
  			
  			<tr>
    			<th><h3>Fortnite</h3><img src="/img/fortnite.jpg" width="140" height="180"></th>
    			<th>
    			<hr style="width:80%;margin-left:10%;height:1px;border-width:0;background-color:#f141418a">
    			<p>Fortnite is an online video game developed by Epic Games and released in 2017.</p></th>
    			<th>
    			<iframe width="320" height="180" frameborder="0" allowfullscreen="allowfullscreen"
				src="https://www.youtube.com/embed/2gUtfBmw86Y"></iframe>
    			</th>	
  			</tr>
        	
        	</table>
        
        </div>
        
    </div>
	
	
	<!--
	<p>
		game: <span id="nam"></span><br />
		genre: <span id="gen"></span>
	</p>
	-->
	
	
	
</body>


</html>